<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97377003284-55u33hgbat4ps58a7299uqbu3o37ijc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97377003284-55u33hgbat4ps58a7299uqbu3o37ijc2</string>
	<key>API_KEY</key>
	<string>AIzaSyALmVDg-z9n93xMZhbn-_4f5YvMcBZyOD4</string>
	<key>GCM_SENDER_ID</key>
	<string>97377003284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saview.todo1</string>
	<key>PROJECT_ID</key>
	<string>todo-72d02</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-72d02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97377003284:ios:be98bdcf4b900b619a8401</string>
	<key>DATABASE_URL</key>
	<string>https://todo-72d02.firebaseio.com</string>
</dict>
</plist>